html {
    font-size: 20px;
}

@media screen and (max-width:1400px) {
    html {
        font-size: 19px;
    }
}

@media screen and (max-width:1200px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width:992px) {
    html {
        font-size: 17px;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width:576px) {
    html {
        font-size: 15px;
    }
}

* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

body {
    border: 0;
    font-family: 'Mukta', sans-serif;
}

.grid {
    display: grid;
}

.grid-wrapper {
    margin: auto;
    max-width: 1700px;
    grid-template-rows: 44.65rem 121.35rem 7.55rem;
}

.container {
    width: 88.24%;
    margin: 2.1rem auto;
}

.flex {
    display: flex;
}

.flex-titlebox{
    margin: auto;
    padding: 12rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titlebox__title{
    margin: 0;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 1.8rem;
    text-transform: uppercase;
}

.titlebox__subtitle{
    margin-top: 2.5rem;
    text-transform: uppercase;
}

.titlebox__subtitle-link{
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1rem;
}

a:hover {
    color: rgb(248, 69, 69);
    transition: all 0.3s ease-in-out;
}
