.main {
    grid-template-rows: 65% 1fr;
    box-sizing: border-box;
}
@media screen and (max-width: 768px){
    .main{
        grid-template-rows: 75% 1fr;
    }
}
.main__shops {
    width: 100%;
    box-sizing: border-box;
    padding: 2.5rem 0;
    grid-template-areas: "shop1 shop1 shop2" "shop1 shop1 shop3" "shop4 shop5 shop6";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 37%;
    row-gap: 2.2rem;
    column-gap: 2.5rem;
}

@media screen and (max-width: 1310px){
    .main__shops {
        grid-template-areas: "shop1  shop2" " shop3 shop4" "shop5 shop6";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media screen and (max-width:768px){
    .main__shops {
        grid-template-areas: "shop1"  "shop2" "shop3" "shop4" "shop5" "shop6";
        grid-template-columns:  1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}
.shops__item_pos1 {
    grid-area: shop1;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background: url(../images/gourmet.png) center/cover no-repeat;

}

@media screen and (max-width: 1310px){
    .shops__item_pos1  {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
}
.shops__item_pos2 {
    grid-area: shop2;
    background: url(../images/carhartt.png) center/cover no-repeat;

}

.shops__item_pos3 {
    grid-area: shop3;
    background: url(../images/adidas.png) center/cover no-repeat;

}

.shops__item_pos4 {
    grid-area: shop4;
    background: url(../images/10deep.png) center/cover no-repeat;

}

.shops__item_pos5 {
    grid-area: shop5;
    background: url(../images/palace.png) center/cover no-repeat;

}

.shops__item_pos6 {
    grid-area: shop6;
    background: url(../images/nike.png) center/cover no-repeat;

}
/*выравниваем отцентрованные картинки фонов по верхнему краю (иначе при уменьшении вьюпорта смотрится не красиво)*/
@media screen and (max-width: 1310px){
    .item_positioned{
        background-position: top;
    }
}
.shops-col__item {
    font-size: 2rem;
    font-weight: 200;
}

.shops-col__item_modific-transparent {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    background: linear-gradient( 90deg, rgba(26, 26, 26, 0.5) 0%, rgba(26, 26, 26, 0) 100%);
}

.shops-col__item_modific-transparent img {
    padding-left: 2rem;
}

.shops-col__item-title_modific {
    text-decoration: none;
    font-size: 3rem;
    letter-spacing: 1.25rem;
    padding: 2rem;
}

@media screen and (max-width: 1310px){
    .shops-col__item-title_modific {
        width: 16.5rem;
        padding: 1rem;
        font-size: 2rem;
        letter-spacing: 0.75rem;
        line-height: 1.25;
    }
    .shops-col__item-lable{
        width: 35%;
    }
    .item-lable_carhartt{
        width: 23%;
    }
    .item-lable_tendeep, .item-lable_nike{
        width: 50%;
    }
}
.shops-col__item_transparent {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    background: linear-gradient( 90deg, rgba(26, 26, 26, 0.5) 0%, rgba(26, 26, 26, 0) 100%);
}

.shops-col__item_transparent img {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.shops-col__item-title {
    text-transform: uppercase;
    text-decoration: none;
    width: 16.5rem;
    padding: 1rem;
    font-size: 2rem;
    letter-spacing: 0.75rem;
    line-height: 1.25;
}
.main-tiles {
    max-height: 850px;
    position: relative;
    /*для позиционирования полупрозрачного фона*/
}

.grid-main__tiles {
    width: 100%;
    height: 100%;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.flex-main__tiles-transparent {
    /*делаем полупрозрачный фон*/
    width: 100%;
    height: 100%;
    background: rgba(26, 26, 26, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    ;
}

.tiles-title {
    letter-spacing: 1rem;
}

@media screen and (max-width: 1200px) {
    .tiles-title {
        text-align: center;
    }
}

.tileA {
    background: url(../images/tiles/tileA.png) center/cover no-repeat;
}

.tileB {
    background: url(../images/tiles/tileB.png) center/cover no-repeat;
}

.tileC {
    background: url(../images/tiles/tileC.png) center/cover no-repeat;
}

.tileD {
    background: url(../images/tiles/tileD.png) center/cover no-repeat;
}

.tileE {
    background: url(../images/tiles/tileE.png) center/cover no-repeat;
}

.tileF {
    background: url(../images/tiles/tileF.png) center/cover no-repeat;
}

.tileG {
    background: url(../images/tiles/tileG.png) center/cover no-repeat;
}

.tileH {
    background: url(../images/tiles/tileH.png) center/cover no-repeat;
}

.tileJ{
    width: 0;
    height: 0;
    background: url(../images/tiles/tileD.png) center/cover no-repeat;
}
@media screen and (max-width: 992px){
    .grid-main__tiles{
        height: 100%;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }
    .tileJ{
        width: 100%;
        height: 100%;
    }

}